wifi_ssid: "your-wifi-ssid"
wifi_password: "your-wifi-password"
# Generate with: esphome secrets or `python3 -c "import os,base64;print(base64.b64encode(os.urandom(32)).decode())"`
api_encryption_key: "A5ZBNsZN4MYVjthu4OU2J82D64xqKe492PT3YHqYVbw="
